@{
Layout = "_Layout";
}

@using Library.Models;
<div class='container'>
  <h4>welcome to Library system</h4>
<br/><br/>
<div class="row">
<div class="col-lg-6">
<h1><a href="Book/">Manage  Books</a></h1>
<h1>number of books</h1>
 <h1>@Book.GetAll().Count</h1>
  

<br/>

</div>
<div class="col-lg-6"></div>
<h1><a href="Patron/">Manage  Clients</a></h1>
<h1>number of Patrons</h1>
<h1>@Patron.GetAll().Count</h1>

</div>
</div>
